Repository DorofD/VulnScanC: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend, deploy

.gitlab-ci.yml:

stages:
  - build
  - deploy

build_backend:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
  script:
    - cp $ENV_BACKEND ./backend/.env
    - docker build . -f ./docker/Dockerfile.backend -t vsc-backend:latest --network=host
    - docker tag vsc-backend:latest $REGISTRY_URL/$GITLAB_PROJECT_PATH/backend:latest
    - echo $REGISTRY_TOKEN | docker login $REGISTRY_URL -u $REGISTRY_USER --password-stdin
    - docker image push $REGISTRY_URL/$GITLAB_PROJECT_PATH/backend
  tags:
    - vsc-build
  rules:
    - changes:
      - backend/**/*
      - docker/**/*

build_frontend:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
  script:
    - cp $ENV_FRONTEND ./frontend/.env
    - docker build . -f ./docker/Dockerfile.frontend -t vsc-frontend:latest --network=host
    - docker tag vsc-frontend:latest $REGISTRY_URL/$GITLAB_PROJECT_PATH/frontend:latest
    - echo $REGISTRY_TOKEN | docker login $REGISTRY_URL -u $REGISTRY_USER --password-stdin
    - docker image push $REGISTRY_URL/$GITLAB_PROJECT_PATH/frontend
  tags:
    - vsc-build
  rules:
    - changes:
      - frontend/**/*
      - docker/**/*

deploy:
  stage: deploy
  script:
    - cd /www
    - echo $REGISTRY_TOKEN | docker login $REGISTRY_URL -u $REGISTRY_USER --password-stdin
    - docker compose pull
    - docker compose up -d
  tags:
    - vsc-deploy
  rules:
    - changes:
        - backend/**/*
        - frontend/**/*
        - docker/**/*

ai ui
  backend/app/adapters/llama_api.py
  backend/app/adapters/pdf_extract.py
  backend/app/domain/chunker.py
  backend/app/routes/ai.py
  backend/app/services/ai_services/__init__.py
  backend/app/services/ai_services/llama_nodes.py
  backend/app/services/ai_services/rag_documents.py
  backend/app/services/ai_services/rag_handler.py
  backend/app/services/llm_provider/llama_api.py
  backend/app/services/llm_provider/pdf_parser.py
  frontend/src/components/AiBase/AiBase.jsx
  frontend/src/components/AiRagDocs/AiRagDocs.css
  frontend/src/components/AiRagDocs/AiRagDocs.jsx
  frontend/src/components/AiRagDocs/AiRagDocumentCard/AiRagDocumentCard.css
  frontend/src/components/AiRagDocs/AiRagDocumentCard/AiRagDocumentCard.jsx
  frontend/src/components/App.jsx
  frontend/src/services/apiRagDocuments.js
Due: build_backend, build_frontend, deploy

llm logic
  backend/app/adapters/chunker.py
  backend/app/routes/ai.py
  backend/app/services/ai_services/llama_nodes.py
  backend/app/services/ai_services/rag_chat_handler.py
  backend/app/services/ai_services/rag_chunks_handler.py
  backend/app/services/ai_services/rag_documents.py
  frontend/src/components/AiChatRag/AiChatRag.css
  frontend/src/components/AiChatRag/AiChatRag.jsx
  frontend/src/components/AiSummary/AiSummary.jsx
  frontend/src/components/AiSummary/AiSummaryCard/AiSummaryCard.css
  frontend/src/components/AiSummary/AiSummaryCard/AiSummaryCard.jsx
Due: build_backend, build_frontend, deploy

rag_docs
  backend/app/pg_repository/db_model.py
  backend/app/pg_repository/queries/rag_chunks.py
  backend/app/pg_repository/queries/rag_documents.py
  backend/app/routes/ai.py
  backend/app/services/ai_services/rag_chunks_handler.py
  backend/app/services/ai_services/rag_documents.py
  frontend/src/components/AiRagDocs/AiRagDocs.jsx
Due: build_backend, build_frontend, deploy

логика работы с AI
  backend/app/pg_repository/db_model.py
  backend/app/pg_repository/queries/llama_nodes.py
  backend/app/pg_repository/queries/rag_documents.py
  backend/app/routes/ai.py
  backend/app/services/ai_services/ai_chat_handler.py
  backend/app/services/ai_services/llama_nodes.py
  backend/app/services/ai_services/rag_documents.py
  frontend/src/components/AiBase/AiBase.jsx
  frontend/src/components/AiChat/AiChat.css
  frontend/src/components/AiChat/AiChat.jsx
  frontend/src/components/AiChatRag/AiChatRag.css
  frontend/src/components/AiChatRag/AiChatRag.jsx
  frontend/src/components/AiLlamaNodes/AiLlamaNodeCard/AiLlamaNodeCard.jsx
  frontend/src/components/AiLlamaNodes/AiLlamaNodes.jsx
  frontend/src/components/AiRagDocs/AiRagDocs.css
  frontend/src/components/AiRagDocs/AiRagDocs.jsx
  frontend/src/components/App.jsx
  frontend/src/services/apiAi.js
  frontend/src/services/apiLlamaNodes.js
Due: build_backend, build_frontend, deploy

Add agent instructions for VulnScanC project
  AGENTS.md
Due: none

bf
  docs/schemes/db_schema_old.drawio
  docs/schemes/db_schema_old.png
  frontend/src/components/AiLlamaNodes/AiLlamaNodes.css
Due: build_frontend, deploy

bugfix
  .gitignore
  AGENTS.md
  backend/app/__init__.py
  backend/app/pg_repository/queries/projects.py
  backend/app/services/api_services/projects.py
  backend/requirements.txt
  docker-compose.yml
Due: build_backend, deploy

docs
  AGENTS.md
  backend/AGENTS.md
  frontend/AGENTS.md
Due: build_backend, build_frontend, deploy

frontend docs
  backend/AGENTS.md
  frontend/AGENTS.md
  frontend/docs/architecture_overview.md
  frontend/docs/data_flow.md
  frontend/docs/development_standards.md
  frontend/docs/directory_structure.md
  frontend/package-lock.json
  frontend/package.json
Due: build_backend, build_frontend, deploy

docs
  backend/docs/ai.md
  backend/docs/architecture_overview.md
  backend/docs/authentication.md
  backend/docs/bdu.md
  backend/docs/bitbake.md
  backend/docs/dependency_track.md
  backend/docs/licenses.md
  backend/docs/logs.md
  backend/docs/reports.md
  backend/docs/users.md
  frontend/src/components/Base/Base.jsx
  frontend/src/svg_images/Ai.svg
  frontend/src/svg_images/BduFstec.svg
  frontend/src/svg_images/Components.svg
  frontend/src/svg_images/Projects.svg
  frontend/src/svg_images/Sarif.svg
  frontend/src/svg_images/Snapshots.svg
Due: build_backend, build_frontend, deploy

docs
  backend/app/services/fstec/bdu_fstec.py
  backend/docs/bdu.md
  backend/tests/test_bdu_fstec.py
  frontend/docs/development_standards.md
Due: build_backend, build_frontend, deploy

ui, docs
  backend/AGENTS.md
  backend/docs/api/ai.md
  backend/docs/api/authentication.md
  backend/docs/api/bdu.md
  backend/docs/api/bitbake.md
  backend/docs/api/dependency_track.md
  backend/docs/api/licenses.md
  backend/docs/api/logs.md
  backend/docs/api/reports.md
  backend/docs/api/users.md
  backend/docs/architecture_overview.md
  backend/docs/bdu.md
  backend/docs/tests.md
  frontend/src/components/AiBase/AiBase.jsx
  frontend/src/components/Base/Base.jsx
  frontend/src/components/BduFstec/BduFstec.jsx
  frontend/src/components/Binary/Binary.jsx
  frontend/src/components/Login/Login.jsx
  frontend/src/components/Logs/Logs.jsx
  frontend/src/components/MarkdownViewer/MarkdownViewer.jsx
  frontend/src/components/Projects/Projects.jsx
  frontend/src/components/Snapshots/Snapshots.jsx
  frontend/src/components/Users/Users.jsx
  frontend/src/svg_images/Bitbake.svg
  frontend/src/svg_images/Chat.svg
  frontend/src/svg_images/Dt.svg
  frontend/src/svg_images/Dt_backup.svg
Due: build_backend, build_frontend, deploy

bugfix
  .gitignore
  backend/app/pg_repository/queries/components.py
  backend/app/pg_repository/queries/snapshots.py
  backend/app/pg_repository/queries/vulnerabilities.py
  backend/app/services/search_data/search_data.py
  backend/todo
  frontend/package-lock.json
  frontend/src/components/Snapshots/Snapshots.css
Due: build_backend, build_frontend, deploy

bf
  backend/AGENTS.md
  backend/app/pg_repository/db_model.py
  backend/app/pg_repository/queries/bitbake_projects.py
  backend/app/pg_repository/queries/projects.py
  backend/app/routes/base_routes.py
  backend/app/services/api_services/projects.py
  backend/app/services/bitbake/bitbake_handler.py
  backend/docs/api/projects.md
  backend/docs/projects.md
  frontend/docs/development_standards.md
  frontend/src/components/Button/Button.css
  frontend/src/components/Projects/Projects.css
  frontend/src/components/Projects/Projects.jsx
  frontend/src/index.js
  frontend/src/services/apiProjects.js
Due: build_backend, build_frontend, deploy

docs
  backend/AGENTS.md
  backend/docs/api/binary.md
  backend/docs/api/comments.md
  backend/docs/api/components.md
  backend/docs/api/projects.md
  backend/docs/api/reports.md
  backend/docs/api/sarif.md
  backend/docs/api/search_data.md
  backend/docs/api/snapshots.md
  backend/docs/api/svacer.md
  backend/docs/api/vulnerabilities.md
Due: build_backend, deploy

pg
  backend/app/repository/__init__.py
  backend/app/repository/db_model.py
  backend/app/repository/queries/base_query.py
  backend/app/repository/queries/bdu_vulnerabilities.py
  backend/app/repository/queries/bitbake_components.py
  backend/app/repository/queries/bitbake_components_comments.py
  backend/app/repository/queries/bitbake_licenses.py
  backend/app/repository/queries/bitbake_projects.py
  backend/app/repository/queries/bitbake_snapshots.py
  backend/app/repository/queries/bitbake_vulnerabilities.py
  backend/app/repository/queries/bitbake_vulnerabilities_comments.py
  backend/app/repository/queries/components.py
  backend/app/repository/queries/components_comments.py
  backend/app/repository/queries/licenses.py
  backend/app/repository/queries/projects.py
  backend/app/repository/queries/snapshots.py
  backend/app/repository/queries/users.py
  backend/app/repository/queries/vulnerabilities.py
  backend/app/routes/base_routes.py
  backend/app/services/fstec/bdu_fstec.py
  backend/app/services/search_data/search_data.py
  frontend/src/hooks/useComments.js
  frontend/src/hooks/useComponents.js
  frontend/src/hooks/useVulnerabilities.js
Due: build_backend, build_frontend, deploy

bf
  backend/app/adapters/hasher.py
  backend/app/adapters/osv_client.py
  backend/app/services/dependencies/matches_osv_finder_new.py
  backend/app/services/dependencies/searcher.py
  backend/app/services/dependencies/searcher_new.py
  backend/app/services/sec_dev_scanner/template.py
  backend/app/services/vulnerabilities/vuln_finder.py
  frontend/src/components/Snapshots/Snapshots.css
  frontend/src/components/Snapshots/Snapshots.jsx
  frontend/src/services/apiReports.js
Due: build_backend, build_frontend, deploy

docs
  AGENTS.md
  backend/AGENTS.md
  backend/docs/bdu.md
  backend/docs/projects.md
  backend/docs/tests.md
  frontend/AGENTS.md
  frontend/docs/data_flow.md
  frontend/docs/development_standards.md
  frontend/docs/directory_structure.md
Due: build_backend, build_frontend, deploy

decompose base_routes
  backend/AGENTS.md
  backend/app/__init__.py
  backend/app/routes/base_routes.py
  backend/app/routes/binary.py
  backend/app/routes/comments.py
  backend/app/routes/components.py
  backend/app/routes/projects.py
  backend/app/routes/search_data.py
  backend/app/routes/vulnerabilities.py
  backend/docs/projects.md
Due: build_backend, deploy

bf
  backend/app/pg_repository/db_model.py
  backend/app/pg_repository/queries/components.py
  backend/app/pg_repository/queries/vulnerabilities.py
  backend/app/services/search_data/search_data.py
  backend/docs/tests.md
  backend/tests/test_data/test_deps.json
  backend/tests/test_data/test_vulns.json
  backend/tests/test_search_data.py
  frontend/src/components/Components/Components.jsx
  frontend/src/components/Components/SubComponents/ComponentSection.jsx
  frontend/src/components/Components/SubComponents/LicenseModalContent.jsx
  frontend/src/services/apiComponents.js
Due: build_backend, build_frontend, deploy

bf
  backend/app/services/search_data/search_data.py
  backend/tests/test_search_data.py
  backend_server.log
  frontend/src/components/AcceptModal/AcceptModal.css
  frontend/src/components/BduFstec/BduFstec.css
  frontend/src/components/Bitbake/Bitbake.css
  frontend/src/components/Components/Components.css
  frontend/src/components/Components/Components.jsx
  frontend/src/components/Components/SubComponents/BDUVulnerabilityModal.jsx
  frontend/src/components/Components/SubComponents/CommentModalContent.jsx
  frontend/src/components/Components/SubComponents/ComponentSection.jsx
  frontend/src/components/Components/SubComponents/LicenseModalContent.jsx
  frontend/src/components/Components/SubComponents/OSVVulnerabilityModal.jsx
  frontend/src/components/Components/SubComponents/VulnerabilitySection.jsx
  frontend/src/components/Modal/Modal.css
  frontend/src/components/Projects/Projects.jsx
  frontend/src/components/Users/Users.jsx
  frontend/src/hooks/useVulnerabilities.js
Due: build_backend, build_frontend, deploy

bf
  backend/app/__init__.py
  backend/app/routes/save_hashes.py
  backend/app/routes/search_data.py
  backend/app/services/api_services/save_hashes.py
  backend/app/services/osv_scanner/__init__.py
  backend/app/services/osv_scanner/osv_scanner.py
  backend/app/services/search_data/search_data.py
  backend/app/services/sec_dev_scanner/template_hashes.py
  backend/docs/api/search_data.md
  backend/requirements.txt
  backend/tests/test_bdu_fstec.py
  backend/tests/test_search_data.py
  backend/todo
  docs/ci_integration.md
  docs/executable_module.md
  frontend/package-lock.json
  frontend/public/docs/ci_integration.md
  frontend/public/docs/executable_module.md
  frontend/src/components/Components/Components.jsx
  frontend/src/components/Components/SubComponents/ComponentSection.jsx
  frontend/src/services/apiBduFstec.js
Due: build_backend, build_frontend, deploy
