Repository DorofD/VulnScanC: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend, deploy

build_backend:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
  script:
  - cp $ENV_BACKEND ./backend/.env
  - docker build . -f ./docker/Dockerfile.backend -t vsc-backend:latest --network=host
  ...

build_frontend:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
  script:
  - cp $ENV_FRONTEND ./frontend/.env
  - docker build . -f ./docker/Dockerfile.frontend -t vsc-frontend:latest --network=host
  ...

deploy:
  stage: deploy
  script:
  - cd /www
  - echo $REGISTRY_TOKEN | docker login $REGISTRY_URL -u $REGISTRY_USER --password-stdin
  - docker compose pull
  - docker compose up -d
  tags:
  - vsc-deploy

обработка БДУ, рефакторинг модуля отчётов, правки по фронту
  backend/app/repository/db_model.py
  backend/app/repository/queries/bdu_vulnerabilities.py
  backend/app/repository/queries/snapshots.py
  backend/app/routes.py
  backend/app/services/api_services/bdu.py
  backend/app/services/api_services/reports.py
  backend/app/services/fstec/bdu_fstec.py
  backend/app/services/reports/docx_generator.py
  frontend/src/components/Components/Components.jsx
  frontend/src/components/Components/VulnerabilityCardBdu/VulnerabilityCardBdu.jsx
  frontend/src/components/Snapshots/Snapshots.jsx
  frontend/src/services/apiReports.js
Due: build_backend, build_frontend, deploy

отображение кол-ва уязвимостей OSV/БДУ
  backend/app/repository/queries/bdu_vulnerabilities.py
  backend/app/repository/queries/vulnerabilities.py
  backend/app/services/api_services/components.py
  frontend/src/components/Components/ComponentCard/ComponentCard.css
  frontend/src/components/Components/ComponentCard/ComponentCard.jsx
  frontend/src/components/Components/Components.jsx
  frontend/src/components/DependencyTrack/ComponentCard/ComponentCard.jsx
  frontend/src/components/DependencyTrack/ComponentCard/ComponentCardDT.css
Due: build_backend, build_frontend, deploy

комментарии
  backend/app/repository/db_model.py
  backend/app/repository/queries/components_comments.py
  backend/app/repository/queries/projects.py
  backend/app/routes.py
  backend/app/services/api_services/component_comments.py
  frontend/src/components/Button/Button.css
  frontend/src/components/Components/CommentCard/CommentCard.css
  frontend/src/components/Components/CommentCard/CommentCard.jsx
  frontend/src/components/Components/Components.css
  frontend/src/components/Components/Components.jsx
  frontend/src/components/Components/send.png
  frontend/src/components/DependencyTrack/DependencyTrack.css
  frontend/src/components/DependencyTrack/DependencyTrack.jsx
  frontend/src/components/Modal/Modal.css
  frontend/src/services/apiComments.js
Due: build_backend, build_frontend, deploy

bugfix
  backend/app/services/dependencies/matches_osv_finder.py
Due: build_backend, deploy

лицензии и комментарии в отчетах
  backend/app/repository/queries/snapshots.py
  backend/app/services/reports/docx_generator.py
Due: build_backend, deploy

комментарии и лицензии в отчетах БДУ
  backend/app/services/reports/docx_generator.py
Due: build_backend, deploy

визуализация sarif
  backend/app/services/api_services/sarif.py
  backend/app/services/sarif/sarif_handler.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App.jsx
  frontend/src/components/Base/Base.css
  frontend/src/components/Base/Base.jsx
  frontend/src/components/PrivateRoute/PrivateRoute.jsx
  frontend/src/components/Projects/ProjectCard/ProjectCard.css
  frontend/src/components/Projects/Projects.css
  frontend/src/components/Projects/Projects.jsx
  frontend/src/components/Sarif/Sarif.css
  frontend/src/components/Sarif/Sarif.jsx
  frontend/src/components/Snapshots/SnapshotCard/SnapshotCard.css
Due: build_backend, build_frontend, deploy

загрузка и отображение sarif
  backend/app/routes.py
  backend/app/services/api_services/sarif.py
  backend/app/services/sarif/sarif_handler.py
  frontend/src/components/Components/Components.jsx
  frontend/src/components/Sarif/Sarif.css
  frontend/src/components/Sarif/Sarif.jsx
  frontend/src/components/Sarif/SarifFileCard/SarifFileCard.css
  frontend/src/components/Sarif/SarifFileCard/SarifFileCard.jsx
  frontend/src/services/apiSarif.js
Due: build_backend, build_frontend, deploy

bugfix
  docker/Dockerfile.frontend
Due: build_backend, build_frontend, deploy

bugfix
  frontend/src/components/DependencyTrack/DependencyTrack.jsx
Due: build_frontend, deploy

debug
  frontend/src/components/DependencyTrack/DependencyTrack.jsx
Due: build_frontend, deploy

обработка реузльтатов анализа bitbake
  .gitignore
  backend/app/repository/db_model.py
  backend/app/repository/db_schema.drawio
  backend/app/repository/db_schema.png
  backend/app/repository/queries/bitbake_components.py
  backend/app/repository/queries/bitbake_projects.py
  backend/app/repository/queries/bitbake_snapshots.py
  backend/app/repository/queries/bitbake_vulnerabilities.py
  backend/app/routes.py
  backend/app/services/api_services/bitbake.py
  backend/app/services/bitbake/bitbake_handler.py
Due: build_backend, deploy

апи для bitbake, создание bitbake проектов
  backend/app/repository/db_model.py
  backend/app/repository/queries/bitbake_components.py
  backend/app/repository/queries/bitbake_projects.py
  backend/app/repository/queries/bitbake_vulnerabilities.py
  backend/app/routes.py
  backend/app/services/api_services/bitbake.py
  backend/app/services/bitbake/bitbake_handler.py
  frontend/src/components/Projects/Projects.css
  frontend/src/components/Projects/Projects.jsx
  frontend/src/services/apiBitbake.js
Due: build_backend, build_frontend, deploy

отображение bitbake проектов, компонентов и уязвимостей на фронте
  frontend/src/components/App.jsx
  frontend/src/components/Base/Base.jsx
  frontend/src/components/Bitbake/Bitbake.css
  frontend/src/components/Bitbake/Bitbake.jsx
  frontend/src/components/Bitbake/BitbakeComponentCard/ComponentCard.css
  frontend/src/components/Bitbake/BitbakeComponentCard/ComponentCard.jsx
  frontend/src/components/Bitbake/BitbakeVulnerabilityCard/BitbakeVulnerabilityCard.css
  frontend/src/components/Bitbake/BitbakeVulnerabilityCard/BitbakeVulnerabilityCard.jsx
  frontend/src/components/Bitbake/CommentCard/CommentCard.css
  frontend/src/components/Bitbake/CommentCard/CommentCard.jsx
  frontend/src/components/Bitbake/LayerCard/LayerCard.css
  frontend/src/components/Bitbake/LayerCard/LayerCard.jsx
  frontend/src/components/Bitbake/VulnerabilityCardBdu/VulnerabilityCardBdu.css
  frontend/src/components/Bitbake/VulnerabilityCardBdu/VulnerabilityCardBdu.jsx
  frontend/src/components/Bitbake/filter.png
  frontend/src/components/Bitbake/send.png
  frontend/src/services/apiBitbake.js
Due: build_frontend, deploy

правка фильтров под bitbake, сортировка компонентов по cve
  frontend/src/components/Bitbake/Bitbake.css
  frontend/src/components/Bitbake/Bitbake.jsx
  frontend/src/components/Button/Button.css
Due: build_frontend, deploy

bugfix
  frontend/src/components/Users/Users.css
Due: build_frontend, deploy

bugfix
  frontend/src/components/Bitbake/Bitbake.css
Due: build_frontend, deploy

фильтр по статусу cve bitbake
  frontend/src/components/Bitbake/Bitbake.css
  frontend/src/components/Bitbake/Bitbake.jsx
  frontend/src/components/Button/Button.css
Due: build_frontend, deploy

поиск уявзимостей БДУ в bitbake, поиск лицензий компонентов в bitbake
  backend/app/repository/db_model.py
  backend/app/repository/db_schema.drawio
  backend/app/repository/queries/bdu_vulnerabilities.py
  backend/app/repository/queries/bitbake_components.py
  backend/app/repository/queries/bitbake_licenses.py
  backend/app/repository/queries/bitbake_vulnerabilities.py
  backend/app/routes.py
  backend/app/services/api_services/bdu.py
  backend/app/services/api_services/bitbake.py
  backend/app/services/api_services/components.py
  backend/app/services/bitbake/bitbake_handler.py
  backend/app/services/fstec/bdu_fstec.py
  frontend/src/components/Bitbake/Bitbake.jsx
  frontend/src/components/Bitbake/BitbakeComponentCard/ComponentCard.css
  frontend/src/components/Bitbake/BitbakeComponentCard/ComponentCard.jsx
  frontend/src/components/Components/Components.jsx
  frontend/src/services/apiBduFstec.js
  frontend/src/services/apiBitbake.js
Due: build_backend, build_frontend, deploy

bugfix
  backend/app/repository/queries/bitbake_components.py
  backend/app/services/api_services/bitbake.py
Due: build_backend, deploy

bugfix
  backend/app/services/dependency_track/api.py
  docker/Dockerfile.backend
Due: build_backend, build_frontend, deploy

комментарии для компонентов bitbake
  backend/app/repository/db_model.py
  backend/app/repository/db_schema.drawio
  backend/app/repository/queries/bitbake_components_comments.py
  backend/app/routes.py
  backend/app/services/api_services/bitbake.py
  backend/app/services/api_services/component_comments.py
  backend/app/services/bitbake/bitbake_handler.py
  frontend/src/components/Bitbake/Bitbake.jsx
  frontend/src/services/apiBitbake.js
Due: build_backend, build_frontend, deploy

комментарии для уязвимостей bitbake
  backend/app/repository/db_model.py
  backend/app/repository/db_schema.drawio
  backend/app/repository/queries/bitbake_vulnerabilities_comments.py
  backend/app/routes.py
  backend/app/services/api_services/bitbake.py
  backend/app/services/bitbake/bitbake_handler.py
  frontend/src/components/Bitbake/Bitbake.css
  frontend/src/components/Bitbake/Bitbake.jsx
  frontend/src/components/Modal/Modal.css
  frontend/src/services/apiBitbake.js
Due: build_backend, build_frontend, deploy

фронт для отчётов bitbake
  backend/app/routes.py
  backend/app/services/api_services/snapshots.py
  backend/app/services/bitbake/bitbake_handler.py
  frontend/src/components/Button/Button.css
  frontend/src/components/Snapshots/Snapshots.css
  frontend/src/components/Snapshots/Snapshots.jsx
  frontend/src/services/apiReports.js
  frontend/src/services/apiSnapshots.js
Due: build_backend, build_frontend, deploy

отчёты bitbake
  backend/app/repository/queries/bitbake_snapshots.py
  backend/app/repository/queries/snapshots.py
  backend/app/routes.py
  backend/app/services/api_services/reports.py
  backend/app/services/reports/docx_generator.py
  frontend/src/components/Components/Components.css
  frontend/src/components/Snapshots/Snapshots.css
  frontend/src/components/Snapshots/Snapshots.jsx
Due: build_backend, build_frontend, deploy

jwt, правки фронта
  backend/.env.example
  backend/app/__init__.py
  backend/app/repository/queries/snapshots.py
  backend/app/routes.py
  backend/app/routes/__init__.py
  backend/app/routes/bitbake.py
  backend/app/routes/login.py
  backend/app/routes/logs.py
  backend/app/routes/reports.py
  backend/app/routes/routes.py
  backend/app/routes/users.py
  backend/requirements.txt
  frontend/src/components/About/About.css
  frontend/src/components/Admin/Admin.css
  frontend/src/components/App.jsx
  frontend/src/components/Base/Base.css
  frontend/src/components/Base/Base.jsx
  frontend/src/components/BduFstec/BduFstec.css
  frontend/src/components/Bitbake/Bitbake.css
  frontend/src/components/Button/Button.css
  frontend/src/components/Components/Components.css
  frontend/src/components/DependencyTrack/DependencyTrack.css
  frontend/src/components/Login/Login.jsx
  frontend/src/components/Logs/LogCard/LogCard.jsx
  frontend/src/components/Logs/Logs.jsx
  frontend/src/components/MarkdownViewer/MarkdownViewer.css
  frontend/src/components/Projects/Projects.css
  frontend/src/components/Sarif/Sarif.css
  frontend/src/components/Sarif/Sarif.jsx
  frontend/src/components/Snapshots/Snapshots.css
  frontend/src/components/Svacer/Svacer.css
  frontend/src/components/Users/Users.css
  frontend/src/contexts/AuthContext.js
  frontend/src/services/apiLogin.js
  frontend/src/services/apiLogs.js
  frontend/src/services/apiSarif.js
  frontend/src/services/authFetch.js
Due: build_backend, build_frontend, deploy

blueprints, корректировка запросов под jwt
  backend/app/__init__.py
  backend/app/routes/__init__.py
  backend/app/routes/base_routes.py
  backend/app/routes/bdu.py
  backend/app/routes/dependency_track.py
  backend/app/routes/licenses.py
  backend/app/routes/login.py
  backend/app/routes/routes.py
  backend/app/routes/sarif.py
  backend/app/routes/snapshots.py
  backend/app/routes/svacer.py
  backend/app/routes/users.py
  frontend/src/components/Users/Users.css
  frontend/src/services/apiBduFstec.js
  frontend/src/services/apiBinary.js
  frontend/src/services/apiBitbake.js
  frontend/src/services/apiComments.js
  frontend/src/services/apiComponents.js
  frontend/src/services/apiDependencyTrack.js
  frontend/src/services/apiLicenses.js
  frontend/src/services/apiLogs.js
  frontend/src/services/apiProjects.js
  frontend/src/services/apiReports.js
  frontend/src/services/apiSarif.js
  frontend/src/services/apiSnapshots.js
  frontend/src/services/apiSvacer.js
  frontend/src/services/apiUsers.js
  frontend/src/services/apiVulnerabilities.js
  frontend/src/services/authFetch.js
Due: build_backend, build_frontend, deploy

bugfix
  backend/app/services/vulnerabilities/vuln_osv_finder.py
Due: build_backend, deploy

bugfix
  docker/Dockerfile.backend
Due: build_backend, build_frontend, deploy

правки компонентов
  backend/app/services/api_services/binary.py
  backend/app/services/sec_dev_scanner/builder.py
  frontend/package-lock.json
  frontend/src/color_themes/default-theme.css
  frontend/src/components/App.css
  frontend/src/components/Base/Base.css
  frontend/src/components/Binary/Binary.css
  frontend/src/components/Binary/Binary.jsx
  frontend/src/components/Binary/BinaryCard/BinaryCard.css
  frontend/src/components/Binary/BinaryCard/BinaryCard.jsx
  frontend/src/components/Filter/Filter.css
  frontend/src/components/Loader/Loader.css
  frontend/src/components/Logs/LogCard/LogCard.css
  frontend/src/components/Logs/Logs.css
  frontend/src/components/Logs/Logs.jsx
  frontend/src/components/Modal/Modal.css
  frontend/src/components/Users/UserCard/UserCard.css
  frontend/src/components/Users/Users.jsx
Due: build_backend, build_frontend, deploy

взаимодействие с LLM
  backend/.env.example
  backend/app/__init__.py
  backend/app/domain/user.py
  backend/app/pg_repository/__init__.py
  backend/app/pg_repository/db_model.py
  backend/app/pg_repository/queries/base_query.py
  backend/app/pg_repository/queries/rag.py
  backend/app/pg_repository/queries/users.py
  backend/app/routes/ai.py
  backend/app/routes/login.py
  backend/app/routes/users.py
  backend/app/services/api_services/ai.py
  backend/app/services/api_services/users.py
  backend/app/services/fstec/bdu_fstec.py
  backend/app/services/llm_provider/__init__.py
  backend/app/services/llm_provider/chunk_handler.py
  backend/app/services/llm_provider/llama_api.py
  backend/app/services/llm_provider/pdf_parser.py
  backend/app/services/users.py
  frontend/public/index.html
  frontend/src/components/Admin/Admin.css
  frontend/src/components/AiBase/AiBase.jsx
  frontend/src/components/AiChat/AiChat.css
  frontend/src/components/AiChat/AiChat.jsx
  frontend/src/components/AiChatRag/AiChatRag.css
  frontend/src/components/AiChatRag/AiChatRag.jsx
  frontend/src/components/AiRagConf/AiRagConf.css
  frontend/src/components/AiRagConf/AiRagConf.jsx
  frontend/src/components/AiSummary/AiSummary.css
  frontend/src/components/AiSummary/AiSummary.jsx
  frontend/src/components/App.css
  frontend/src/components/App.jsx
  frontend/src/components/Base/Base.jsx
  frontend/src/services/apiAi.js
Due: build_backend, build_frontend, deploy

работа с LLM
  backend/app/pg_repository/db_model.py
  backend/app/pg_repository/queries/rag.py
  backend/app/services/api_services/ai.py
  backend/app/services/llm_provider/chunk_handler.py
  backend/app/services/llm_provider/llama_api.py
  backend/app/services/llm_provider/pdf_parser.py
  backend/requirements.txt
  docker-compose.yml
Due: build_backend, deploy

правки
  backend/app/pg_repository/db_model.py
  backend/app/pg_repository/queries/llama_hosts.py
  backend/app/routes/ai.py
  backend/app/services/api_services/ai.py
  backend/app/services/llm_provider/llama_api.py
  frontend/src/components/Admin/Admin.jsx
  frontend/src/components/App.jsx
  frontend/src/components/LlamaHosts/LlamaHostCard/LlamaHostCard.css
  frontend/src/components/LlamaHosts/LlamaHostCard/LlamaHostCard.jsx
  frontend/src/components/LlamaHosts/LlamaHosts.css
  frontend/src/components/LlamaHosts/LlamaHosts.jsx
  frontend/src/services/apiLlamaHosts.js
Due: build_backend, build_frontend, deploy

llm
  backend/app/pg_repository/db_model.py
  backend/app/pg_repository/queries/llama_hosts.py
  backend/app/pg_repository/queries/llama_nodes.py
  backend/app/routes/ai.py
  backend/app/services/api_services/ai.py
  backend/app/services/llm_provider/chunk_handler.py
  backend/app/services/llm_provider/llama_api.py
  frontend/src/components/Admin/Admin.jsx
  frontend/src/components/AiChatRag/AiChatRag.jsx
  frontend/src/components/App.jsx
  frontend/src/components/LlamaHosts/LlamaHosts.jsx
  frontend/src/components/LlamaNodes/LlamaNodeCard/LlamaNodeCard.css
  frontend/src/components/LlamaNodes/LlamaNodeCard/LlamaNodeCard.jsx
  frontend/src/components/LlamaNodes/LlamaNodes.css
  frontend/src/components/LlamaNodes/LlamaNodes.jsx
  frontend/src/services/apiAi.js
  frontend/src/services/apiLlamaHosts.js
  frontend/src/services/apiLlamaNodes.js
Due: build_backend, build_frontend, deploy

правки ui
  frontend/src/components/AiChatRag/AiChatRag.css
  frontend/src/components/AiChatRag/AiChatRag.jsx
  frontend/src/components/App.css
  frontend/src/components/Button/Button.css
  frontend/src/components/Components/CommentCard/CommentCard.css
  frontend/src/components/Components/CommentCard/CommentCard.jsx
  frontend/src/components/Components/ComponentCard/ComponentCard.css
  frontend/src/components/Components/ComponentCard/ComponentCard.jsx
  frontend/src/components/LlamaNodes/LlamaNodeCard/LlamaNodeCard.css
  frontend/src/components/LlamaNodes/LlamaNodeCard/LlamaNodeCard.jsx
  frontend/src/components/LlamaNodes/LlamaNodes.css
  frontend/src/components/LlamaNodes/LlamaNodes.jsx
  frontend/src/components/Projects/ProjectCard/ProjectCard.css
  frontend/src/components/Projects/ProjectCard/ProjectCard.jsx
  frontend/src/components/Projects/Projects.css
  frontend/src/components/Projects/Projects.jsx
  frontend/src/components/Sarif/SarifFileCard/SarifFileCard.css
  frontend/src/components/Sarif/SarifFileCard/SarifFileCard.jsx
  frontend/src/components/Snapshots/SnapshotCard/SnapshotCard.css
  frontend/src/components/Snapshots/SnapshotCard/SnapshotCard.jsx
Due: build_frontend, deploy

ai ui
  backend/app/pg_repository/db_model.py
  backend/app/pg_repository/queries/projects.py
  backend/app/pg_repository/queries/rag_chunks.py
  backend/app/pg_repository/queries/rag_documents.py
  backend/app/pg_repository/queries/users.py
  backend/app/routes/ai.py
  backend/app/services/api_services/ai.py
  backend/app/services/llm_provider/chunk_handler.py
  backend/app/services/llm_provider/llama_api.py
  backend/app/services/llm_provider/pdf_parser.py
  backend/app/services/rag_documents.py
  frontend/src/components/Admin/Admin.jsx
  frontend/src/components/AiBase/AiBase.jsx
  frontend/src/components/AiLlamaNodes/AiLlamaNodeCard/AiLlamaNodeCard.css
  frontend/src/components/AiLlamaNodes/AiLlamaNodeCard/AiLlamaNodeCard.jsx
  frontend/src/components/AiLlamaNodes/AiLlamaNodes.css
  frontend/src/components/AiLlamaNodes/AiLlamaNodes.jsx
  frontend/src/components/AiRagConf/AiRagConf.css
  frontend/src/components/AiRagConf/AiRagConf.jsx
  frontend/src/components/AiRagConf/AiRagDocumentCard/AiRagDocumentCard.css
  frontend/src/components/AiRagConf/AiRagDocumentCard/AiRagDocumentCard.jsx
  frontend/src/components/AiSummary/AiSummary.jsx
  frontend/src/components/App.css
  frontend/src/components/App.jsx
  frontend/src/services/apiRagDocuments.js
Due: build_backend, build_frontend, deploy

Path conditions:
  build_backend: any of: backend/**/*, docker/**/*
  build_frontend: any of: frontend/**/*, docker/**/*
  deploy: any of: backend/**/*, frontend/**/*, docker/**/*
